<a href="uber://?client_id={{clientId}}&amp;action=setPickup&amp;pickup=my_location&amp;dropoff[nickname]={{restaurantName}}&amp;dropoff[formatted_address]={{restaurantAddress}}" class="uber">
	Ride with Uber
</a>
